<table class="table is-striped is-hoverable is-fullwidth is-bordered">
  <thead>
    <tr>
      <th>Frist Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @friends.each do |friend| %>
      <tr>

        <td><%= friend.first_name%></td>
        <td><%= friend.last_name%></td>
        <td><%= friend.email%></td>
        <td><%= friend.phone%></td>
        <td><%= friend.twitter%></td>

        <td><%= link_to "Show", friend %></td>
        <td><%= link_to "Edit", edit_friend_path(friend) %></td>

      </tr>
    <% end %>

  </tbody>

</table>

<%= link_to "New friend", new_friend_path, class:"button is-success" %>

