<div class="container is-fluid">
<div class="card">
  <div class="card-content">

    <div class="title">
      <%= @friend.first_name%>
      <%= @friend.last_name%>
    </div>
    <div class="content">
      <strong>Email:</strong>
      <%= @friend.email%>
      <br/>
      <strong>Phone:</strong>
      <%= @friend.phone%>
      <br/>
      <br/>

      <div class="notification is-primary is-light">
      <h2>Issue:</h2>
        <%= @friend.twitter%>
      </div>

      </div>
    </div>
  </div>
<br/>
<div class="field is-grouped">
  <p class="control">
    <%= link_to "Edit this ticket", edit_friend_path(@friend), class:"button is-link"%>
  </p>
  <p class="control">
    <%= link_to "Back to lists", friends_path, class:"button" %>
  </p>
  <p class="control">
    <%= button_to "Delete", @friend, method: :delete, class:"button is-danger" %>
  </p>
</div>
</div>
</div>


