<div class="container is-fluid">
<div class="box">
<div class="field">

<div class="title">Log in</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <label class="label">Email</label>
      <div class="control">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input" %>
      </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
      <div class="control">
        <%= f.password_field :password, autocomplete: "current-password", class:"input" %>
      </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <label class="checkbox">
      <%= f.check_box :remember_me %>
      Remember me
    </label>
  <% end %>



  <div class="field">
    <br/>
    <div class="control">
      <%= f.submit "Log in", class:"button is-success" %>
    </div>
    <br/>
  </div>
<% end %>

</div>
</div>

<%= render "devise/shared/links" %>

</div>
